<div class="container container-l">
  <div class="clear">
    <div class="col-10-l push-1-l">
      <div class="side-icons transparent fixed right-20-m bottom-80-m pad-top-60">
        <div class="pad-bottom-10 icon-item mobile-icon-wrap share-to-tw">
          <i class="icon ion-social-twitter-outline"></i>
        </div>
        <div class="pad-bottom-10 icon-item mobile-icon-wrap share-to-fb" data-share="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{ page.url }}">
          <i class="icon ion-social-facebook-outline"></i>
        </div>
      </div>
    </div>
  </div>
</div>