{% if page.footer != false %}
<footer class="site-footer">

  <div class="wrapper">
    <h2 class="footer-heading">© 2016-{{ site.time | date: '%Y' }} {{ site.title | escape }}</h2>
    <div class="footer-col-wrapper">
      
      <div class="footer-col footer-col-1">
        <ul class="contact-list">
          <li>
            {% if site.short_description %}
              {{ site.short_description | escape }}
            {% endif %}
          </li>
          {% if site.email %}
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          {% endif %}
        </ul>
      </div>

      <div class="footer-col footer-col-4">
        <p>
          {{ site.description | escape }}
          {% if site.twitter %}
          Follow me 
          {% include icon_twitter.html username=site.twitter %}
          {% endif %}
        </p>
      </div>

    </div>
  </div>

</footer>
{% endif %}