<div class="container container-l">
  <div class="clear">
    <div class="col-12-l">
      <div class="footer-menu pad-top-10 pad-bottom-20 scroll">
        <nav class='vertical-align-middle'>
          <span class='nav-item'>© 2016-{{ site.time | date: '%Y' }} {{ site.title | escape }}</span>
          <span class='nav-item'><a class="{% if page.url == '/blog/index.html' %}active{% endif %}" href="{% if page.url == '/blog/index.html' %}javascript:(0){% else %}{{ site.url }}/blog/{% endif %}">Blog</a></span>
          <span class='nav-item'><a class="{% if page.url == '/lisensi/' %}active{% endif %}" href="{% if page.url == '/lisensi/' %}javascript:(0){% else %}{{ site.url }}/lisensi/{% endif %}">Lisensi</a></span>
          <span class='nav-item'><a class="{% if page.url == '/tentang/' %}active{% endif %}" href="{% if page.url == '/tentang/' %}javascript:(0){% else %}{{ site.url }}/tentang/{% endif %}">Tentang</a></span>
        </nav>
      </div>          
    </div>
  </div>
</div>