<header>

  <div class="container container-l">
    <div class="clear pad-top-10 pad-bottom-7">
      <div class="col-12-l">
        <div class="header-logo pad-bottom-10">
          <a href="{% if page.url == '/index.html' %}javascript:void(0){% else %}{{ site.url }}{% endif %}" class="logo">khoe<span class="text-grey">rodin</span></a>
        </div>        
      </div>
    </div>
  </div>

  <div class="horizontal-menu scroll">
    <div class="container container-l">
      <div class="clear pad-bottom-7">
        <div class="col-12-l">

          <nav class='vertical-align-middle'>
            <span class='nav-item'><a 
              class="{% if page.url == '/index.html' %}active{% endif %}"
              href="{% if page.url == '/index.html' %}javascript:void(0){% else %}{{ site.url }}{% endif %}">Home</a>
            </span>

            {% for tag in site.tags %}
              {% assign tagg = tag | first %}
              <span class='nav-item'>
                  <a href="{{ site.url }}/tag/{{ tagg }}" class="{% if page.title == tagg %}active{% endif %}">#{{ tagg }}</a>
              </span>
            {% endfor %}

          </nav>

        </div>
      </div>
    </div>
  </div>

</header>