<header>

  <div class="container container-l">
    <div class="clear pad-top-10 pad-bottom-7">
      <div class="col-12-l">
        <div class="header-logo no-border pad-bottom-10">
          <a href="{{ site.url }}" class="logo {% if page.url == '/index.html'' %}current{% endif %}">khoe<span class="text-grey">rodin</span></a>
        </div>        
      </div>
    </div>
  </div>

  <div class="horizontal-menu hidden">
    <div class="container container-l">
      <div class="clear pad-bottom-7">
        <div class="col-12-l">
          <nav class='vertical-align-middle'>
            <span class='nav-item'><a href="#">####</a></span>
          </nav>
        </div>
      </div>
    </div>
  </div>

</header>