{% if post %}
  {% assign post = post %}
{% else %}
  {% assign post = page %}
{% endif %}

{% assign created_date = post.date | date_to_string %}
{% assign modified_date = post.last_modified_at | date_to_string %}

{% if created_date != modified_date %}
	Diperbarui:
	<time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
		{% include translated_date.html date=post.last_modified_at format=site.date_format lang="id" %}
	</time>
{% else %}
	<time datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished">
	{% include translated_date.html date=post.date format=site.date_format lang="id" %}
	</time>
{% endif %}
•
{% assign words = content | number_of_words %}
{% if words < 360 %}
  Kurang dari 1 menit
{% else %}
  {{ words | divided_by:180 }} menit
{% endif %}