{% if post %}
  {% assign post = post %}
  {% assign date_tag = 0 %}
{% else %}
  {% assign post = page %}
  {% assign date_tag = 1 %}
{% endif %}

{% if post.updated_date %}
	Diperbarui:
	<time
		{% if date_tag == 1 %} 
			datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished"
		{% endif %}
	>
		{% include translated_date.html date=post.updated_date format=site.date_format lang="id" %}
	</time>
{% else %}
	<time
		{% if date_tag == 1 %}
			datetime="{{ post.date | date_to_xmlschema }}" itemprop="datePublished"
		{% endif %}
	>
	{% include translated_date.html date=post.date format=site.date_format lang="id" %}
	</time>
{% endif %}
•
{% assign words = content | number_of_words %}
{% if words < 360 %}
  Kurang dari 1 menit
{% else %}
  {{ words | divided_by:180 }} menit
{% endif %}