{% if page.url == '/index.html' %}
	{% assign title = site.title | strip_html | append: ' — ' | append: site.short_description | markdownify | strip_html %}
{% elsif page.title %}
	{% assign title = page.title | strip_html | append: ' — ' | append: site.title | markdownify | strip_html %}
{% else %}
	{% assign title = site.title | strip_html | append: ' — ' | append: site.short_description | markdownify | strip_html %}
{% endif %}

{% if page.url == '/index.html' %}
	{% assign description = site.description | markdownify | strip_html %}
{% elsif page.description %}
	{% assign description = page.description | markdownify | strip_html %}
{% else %}
	{% assign description = page.content | markdownify | strip_html | truncatewords:25 %}
{% endif %}	

{% if page.author %}
	{% if site.author.[page.author].twitter %}
		{% assign creator_twitter = '@' | append: site.author.[page.author].twitter %}
	{% else %}
		{% assign creator_twitter = '@' | append: site.twitter %}
	{% endif %}

	{% if site.author.[page.author].facebook %}
		{% assign author_facebook = site.author.[page.author].facebook %}
	{% else %}
		{% assign author_facebook = site.facebook %}
	{% endif %}
{% else %}
	{% assign creator_twitter = '@' | append: site.twitter %}
	{% assign author_facebook = site.facebook %}
{% endif %}

<title>{{ title }}</title>
<meta name="description" content="{{ description }}"/>

<meta property="og:type" content="article"/>
<meta property="og:title" content="{{ title }}"/>
<meta property="og:description" content="{{ description }}"/>
<meta property="og:url" content="{{ site.url }}{{ page.url }}"/>
<meta property="og:site_name" content="{{ site.title }}"/>

{% if site.page_id %}
	<meta property="fb:pages" content="{{ site.page_id }}">
{% endif %}

{% if site.facebook %}
	<meta property="article:publisher" content="https://facebook.com/{{ site.facebook }}"/>
	<meta property="article:author" content="https://facebook.com/{{ author_facebook }}"/>
{% endif %}

{% if page.collection %}
	{% assign col = site.collections | where: "label", page.collection | first %}
	{% assign section = col.name %}
	<meta property="article:section" content="{{ section }}"/>
{% endif %}

{% if page.image %}
	<meta property="og:image" content="{{ site.url }}{{ page.image }}"/>
{% endif %}

<meta name="twitter:card" content="{% if page.image %}summary_large_image{% else %}summary{% endif %}"/>

{% if page.image %}
	<meta name="twitter:image" content="{{ site.url }}{{ page.image }}"/>
{% endif %}

<meta name="twitter:title" content="{{ title }}"/>
<meta name="twitter:description" content="{{ description }}"/>

{% if site.twitter %}
	<meta name="twitter:site" content="@{{ site.twitter }}"/>
	<meta name="twitter:creator" content="{{ creator_twitter }}"/>
{% endif %}

<link rel="canonical" href="{{ site.url }}{{ page.url }}"/>
<link rel="alternate" type="application/rss+xml" title="Khoerodin" href="/sitemap.xml">