<link href="https://fonts.googleapis.com/css?family=Fira+Sans" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Miriam+Libre" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
<link href="https://fonts.googleapis.com/css?family=VT323" rel="stylesheet">

<link rel="stylesheet" href="/assets/css/styles.min.css">
<script src="/assets/js/scripts.min.js"></script>

<link rel="alternate" type="application/rss+xml" title="Khoerodin" href="/sitemap.xml">