/**
 * Reset some basic elements
 */
body, h1, h2, h3, h4, h5, h6,
p, blockquote, pre, hr,
dl, dd, ol, ul, figure {
  margin: 0;
  padding: 0; }

/**
 * Basic styling
 */
body {
  font: 400 17px 'Source Sans Pro', sans-serif;
  color: #5B6770;
  background-color: #fdfdfd;
  -webkit-text-size-adjust: 100%;
  -webkit-font-feature-settings: "kern" 1;
  -moz-font-feature-settings: "kern" 1;
  -o-font-feature-settings: "kern" 1;
  font-feature-settings: "kern" 1;
  font-kerning: normal; }

/**
 * Set `margin-bottom` to maintain vertical rhythm
 */
h1, h2, h3, h4, h5, h6,
p, blockquote, pre,
ul, ol, dl, figure {
  margin-bottom: 15px; }

hr {
  margin-bottom: 1em; }

.logo-text {
  font: 400 17px/1.5 'VT323', monospace;
  font-size: 37px;
  float: left; }

@media screen and (max-width: 600px) {
  .logo-text {
    font-size: 10vmin; } }
.logo-text-orange {
  color: #00B1B3; }

.logo-text-gray {
  color: #5B6770; }

.clear-both {
  clear: both; }

/**
 * Images
 */
.post-content img:not(.emojione):not(.skill-box) {
  width: 100%;
  max-width: 100%;
  border-radius: 4px;
  vertical-align: middle; }

.header-image {
  padding-top: 20px; }

/**
 * Figures
 */
figure > img {
  display: block; }

figcaption {
  font-size: 14px; }

/**
 * Lists
 */
ul, ol {
  margin-left: 30px; }

li > ul,
li > ol {
  margin-bottom: 0; }

/**
 * Headings
 */
h1, h2, h3, h4, h5, h6 {
  font: 400 17px/1.5 'Miriam Libre', Helvetica, Arial, sans-serif;
  font-weight: 400; }

/**
 * Links
 */
a {
  cursor: pointer;
  color: #00B1B3;
  text-decoration: none; }
  a:visited {
    color: #00B1B3; }
  a:hover {
    color: #5B6770;
    text-decoration: underline; }

h2.collection-title {
    margin-bottom: 0; }
h2.collection-title > a {
    color: #b2b4b7;
    text-decoration: none;}
  h2.collection-title a:hover {
      color: #00B1B3;
      text-decoration: none;  }

h2.sidebar-title {
    margin-bottom: 10px; }
h2.sidebar-title > a, h2.sidebar-title > span {
    font: 400 20px 'Miriam Libre', sans-serif !important;
    color: #5B6770;
    font-weight: bold;
    text-decoration: none;}
  h2.sidebar-title a:hover {
      color: #00B1B3;
      text-decoration: none;  }

.sidebar-list-header {
  color: #00B1B3;
  font-weight: bold;
  list-style-type: decimal-leading-zero;}

li.sidebar-list {
  border-bottom: 1px dashed #d7d7d7;
  padding: 8px 0 8px 0px; }

li.sidebar-list a {
  font-weight: normal;
  color: #5B6770}

  li.sidebar-list a.active {
    font-weight: bold;
    color: #00B1B3;}
.sticked-sidebar{
    position:fixed;
    top: 30px;
}
.release-sidebar{
    position:absolute;
    bottom: 0;
    right: 50px;
}
/**
 * Blockquotes
 */
blockquote {
  color: #828282;
  border-left: 4px solid #e8e8e8;
  padding-left: 15px;
  font-size: 18px;
  letter-spacing: -1px;
  font-style: italic; }
  blockquote > :last-child {
    margin-bottom: 0; }

/**
 * Code formatting
 */
pre,
code {
  font-size: 16px;
  border-radius: 3px; }

code {
  padding: 1px 5px;
  background: #efefef; }

pre {
  overflow: auto; }
  pre > code {
    border: 0;
    padding-right: 0;
    padding-left: 0; }

/**
 * Wrapper
 */
 .wrapper {
  position: relative;
  margin: 0px auto;
  padding-right: 50px;
  padding-left: 50px;
  max-width: -webkit-calc(1366px - (50px));
  max-width: calc(1366px - (50px));
  }
  @media screen and (max-width: 800px) {
    .wrapper {
      max-width: -webkit-calc(800px - (50px));
      max-width: calc(800px - (50px));
      padding-right: 25px;
      padding-left: 25px; } }

.series-wrapper {
  float: left;
  max-width:800px; }

.sidebar {
  float: right;
  width: 385px; }
  @media screen and (max-width: 1024px) {
    .sidebar {
      display: none; } }

.mobile-episodes {  
  display: none; }
  @media screen and (max-width: 1024px) {
    .mobile-episodes {      
      display: block; } }

hr.skill-page {
  border-top: 1px solid rgba(0, 0, 0, 0.1);
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
  margin: 20px 0 50px 0;
}
/**
 * Clearfix
 */
.wrapper:after, .footer-col-wrapper:after {
  content: "";
  display: table;
  clear: both; }

/**
 * Icons
 */
.icon > svg {
  display: inline-block;
  width: 16px;
  height: 16px;
  vertical-align: middle; }
  .icon > svg path {
    fill: #828282; }

/**
 * Site header
 */
.site-header {
  border-top: 5px solid #5B6770;
  border-bottom: 1px solid #e8e8e8;
  min-height: 56px;
  position: relative; }

.site-title {
  font-size: 26px;
  font-weight: 300;
  line-height: 56px;
  letter-spacing: -1px;
  margin-bottom: 0;
  float: left; }
  .site-title, .site-title:visited {
    color: #424242; }

.site-nav {
  float: right;
  line-height: 56px; }
  .site-nav .menu-icon {
    display: none; }
  .site-nav .page-link {
    color: #5B6770;
    line-height: 1.5; }
    .site-nav .page-link:not(:last-child) {
      margin-right: 20px; }
  @media screen and (max-width: 600px) {
    .site-nav {
      position: absolute;
      top: 9px;
      right: 15px;
      background-color: #fdfdfd;
      border: 1px solid #e8e8e8;
      border-radius: 5px;
      text-align: right; }
      .site-nav .menu-icon {
        display: block;
        float: right;
        width: 36px;
        height: 26px;
        line-height: 0;
        padding-top: 10px;
        text-align: center; }
        .site-nav .menu-icon > svg {
          width: 18px;
          height: 15px; }
          .site-nav .menu-icon > svg path {
            fill: #424242; }
      .site-nav .trigger {
        clear: both;
        display: none; }
      .site-nav:hover .trigger {
        display: block;
        padding-bottom: 5px; }
      .site-nav .page-link {
        display: block;
        padding: 5px 10px;
        margin-left: 20px; }
        .site-nav .page-link:not(:last-child) {
          margin-right: 0; } }

/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid #e8e8e8;
  padding: 30px 0; }

.footer-heading {
  font-family: 'Miriam Libre', sans-serif;
  font-weight: bold;
  margin-bottom: 5px; }

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0; }

.footer-col-wrapper {
  font-size: 15px;
  color: #828282;
  margin-left: -15px; }

.footer-col {
  float: left;
  margin-bottom: 15px;
  padding-left: 15px; }

.footer-col-1 {
  width: -webkit-calc(35% - (30px / 2));
  width: calc(35% - (30px / 2)); }

.footer-col-2 {
  width: -webkit-calc(20% - (30px / 2));
  width: calc(20% - (30px / 2)); }

.footer-col-3 {
  width: -webkit-calc(45% - (30px / 2));
  width: calc(45% - (30px / 2)); }

.footer-col-4 {
  width: -webkit-calc(65% - (30px / 2));
  width: calc(65% - (30px / 2)); }

@media screen and (max-width: 800px) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (30px / 2));
    width: calc(50% - (30px / 2)); }

  .footer-col-3,
  .footer-col-4 {
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2)); } }
@media screen and (max-width: 600px) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (30px / 2));
    width: calc(100% - (30px / 2)); }

  .social-media-list {
    font-size: 20px; } }
/**
 * Page content
 */
.page-content {  
  padding: 30px 0; }

.page-heading {
  font-size: 20px; }

.post-list {
  margin-left: 0;
  list-style: none; }
  .post-list > li {
    margin-bottom: 30px; }

.post-meta {
  font-size: 14px;
  color: #828282; }

.series-meta {
  font-size: 30px;
  color: #828282; }

.post-link, .post-sequence {
  font-size: 24px; }

/**
 * Posts
 */
.post-header {
  margin-bottom: 30px; }

.collection-title, .series-level {
  font-family: 'Miriam Libre', sans-serif;
  font-weight: normal;
  font-size: 30px;
  letter-spacing: -1px;
  line-height: 1; }
  @media screen and (max-width: 800px) {
    .collection-title, .series-level {
      font-size: 24px; } }

.post-title {
  font-family: 'Miriam Libre', sans-serif;
  font-weight: normal;
  font-size: 42px;
  letter-spacing: -1px;
  line-height: 1; }
  @media screen and (max-width: 800px) {
    .post-title {
      font-size: 36px; } }

.post-content {
  margin-bottom: 30px; }
  .post-content h2 {
    font-size: 32px; }
    @media screen and (max-width: 800px) {
      .post-content h2 {
        font-size: 28px; } }
  .post-content h3 {
    font-size: 26px; }
    @media screen and (max-width: 800px) {
      .post-content h3 {
        font-size: 22px; } }
  .post-content h4 {
    font-size: 20px; }
    @media screen and (max-width: 800px) {
      .post-content h4 {
        font-size: 18px; } }

  .tag-title{
    font: italic 26px Georgia,serif;
    color: #bbb;
  }
  .hljs-line-numbers {
    text-align: right;
    border-right: 1px solid #ccc;
    color: #999;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
/*
cards
https://css-tricks.com/designing-a-product-page-layout-with-flexbox/
*/
.skills {
  display: flex;
  flex-wrap: wrap;
  font-family: 'Miriam Libre', sans-serif;
}

.skill-card {
  display: flex;
  flex-direction: column;
  flex: 1 25%;
}

.skill-card-page {
  margin-top: 20px; }

.skill-info {
  margin-top: auto;
  text-align: center;
  padding-bottom: 15px;
  border-bottom: 1px solid transparent;
}

@media ( max-width: 920px ) {
  
  .skill-card {
    flex: 1 30%;
  }
  
  .skils .skill-card:first-child, 
  .skils .skill-card:nth-child(2) {
    flex: 2 50%;
  }
  
}

@media ( max-width: 600px ) {
  
  .skill-card {
    flex: 1 100%;
  }
  
}

.home-skill {
  font-size: xx-large;
  font-weight: bold;
}

.skill-content, .series-content {
  font-size: 30px;
}

.skill-title {
  font-weight: bold;
}

.search-area {
  display: flex;
  flex-wrap: wrap;
  width: 50%;
}
.home-search-area {  
  margin: 0 auto;
}

input {
  color: #5B6770; }
.search-box {
  display: flex;
  flex-direction: column;  
  flex: 1 96%;
  font-family: 'Miriam Libre', sans-serif;
  font-weight: bold;
  box-sizing: border-box;
  border: 2px solid #ccc;
  border-radius: 4px;
  font-size: 16px;
  background-color: white;
  background-image: url(../images/searchicon.png);
  background-position: 10px 12px;
  background-repeat: no-repeat;
  padding: 12px 20px 12px 40px;
}

.home-search-box {
  margin: 60px 0 195px 0;
}

.page-search-box {
}

.search-box:focus {
  border-color: #00B1B3;
  outline: none;  
}

.series-count, .episode-count {
  font-weight: bold;
}

a.button {
    color: #00B1B3;
    font-family: 'Fira Sans', sans-serif;
    border: 2px solid #00B1B3;
    border-radius: 4px;
    padding: 7px 14px;
    font-weight: bold;
    text-align: center;}

    a.button:hover {
        color: #fff;
        background-color: #00B1B3;
        text-decoration: none;}

.skill-home-link {
  color: #5B6770 !important; }
  .skill-home-link:hover {
    text-decoration: none; }
  .skill-home-link:hover .skill-info {
    border-color: #e8e8e8;  }

/*Auto fill webkit*/
input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px white inset;
  -webkit-text-fill-color: #5B6770 !important; }

.skill-box {
    float: left;
    box-shadow: 0 1px 5px gainsboro;
    border: 0px solid rgba(255,255,255,0.25);
    transition: opacity 0.2s ease-in-out;
    overflow: hidden;
    display: block;    
    border-radius: 2px;
    width: 25%;}
    .skill-box:hover{
      box-shadow: 0 2px 5px gainsboro;  }
    @media screen and (max-width: 900px) {
      .skill-box {
        width: 100%;  }  }

.skill-box-title {    
    padding: 30px 0 30px 0;
    font-size: 25px;
    float: left;
    width: 100%;
    text-align: center;
    color:  #00B1B3;
    background-color: #fff; }
    .skill-box-title p {
      font-size: 15px;
      color: #5B6770;  }

.text-primary, .text-primary a:hover {
  color: #00B1B3; }

.text-danger, .text-danger a:hover {
  color: #FF5348; }

.text-bold {
  font-weight: bold; }

/*BOX RES*/
