---
layout: default
---
{% include logo_without_nav.html %}
{% include floating_icons.html %}

<div class="container container-l">   
  
  <div class="clear">
    <div class="col-8-l push-2-l">      
      <article class="episode" itemscope itemtype="http://schema.org/BlogPosting">
        
        {% assign col = site.collections | where: "label", page.collection | first %}

        <h2 class="parent-title">
          <a href="{{ site.url }}/{{ page.collection }}">
            {{ col.title }}:
          </a>
        </h2>

        <h1 class="title" itemprop="headline">{{ page.clean_title }}</h1>
        <div class="meta">
          
          {% assign episodes = site.[col.label] %}
          {% for eps in episodes %}            
            {% if eps.title == page.title %}
              {% assign episode = forloop.index %}
              {% break %}
            {% endif %}
          {% endfor %}

          <a class="link-primary" href="{{ site.url }}/{{ page.collection }}">Episode {{ episode }}</a>
          <span class="vertical-devider"></span>
          {% include content_meta.html %}
        </div>
        <div class="clear pad-top-20 pad-top-20 single-content">
          {{ content }}
        </div>
      </article>
      
      <section class="comments">
        {% include disqus.html %}
      </section>
    
    </div>
  </div>

</div>

<footer class="horizontal-menu pad-top-60">
  {% include footer.html %}
</footer>