---
layout: default
---
{% include logo_with_nav.html %}

<div class="container container-l pad-top-30">  
  
  <div class="clear home-featured-content">

    {% for post in paginator.posts  %}
    <div class="col-9-l pad-bottom-30">

      <a href="{{ site.url }}{{ post.url}}" class="link-mute">
        <h4 class="pad-top-7">
          {{ post.title }}
        </h4>
      </a>

      <div class="meta">

        {% if post.tags.size > 0 %}

          {% for tag in post.tags %}
            <a class="link-primary" href="{{ site.url }}/tag/{{ tag }}">#{{ tag }}</a>{% if forloop.last != true %},{% endif %}
          {% endfor %}            

          <span class="vertical-devider"></span>
        {% endif %}
        {% include content_meta.html %}

      </div>
    </div>
    {% endfor %}

    
    {% if paginator.total_pages > 1 %}
      <div class="col-9-l pad-bottom-30 paginator">
        {% if paginator.previous_page %}
          <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' }}">
            <i class="icon ion-ios-arrow-left"></i> Kembali
          </a>
        {% endif %}

        {% if paginator.next_page %}
          <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' }}">
            Lanjut <i class="icon ion-ios-arrow-right"></i>
          </a>
        {% endif %}
      </div>
    {% endif %}
    
  </div>
</div>

<footer class="horizontal-menu">
  {% include footer.html %}
</footer>