---
layout: default
---
{% include logo_with_nav.html %}

<div class="container container-l pad-top-30">  
  
  <div class="clear home-featured-content">

    <div class="col-12-l pad-bottom-25">
      <h2>Featured <i class="icon ion-ios-arrow-right"></i></h2>
    </div>
    
    {% assign oop_php = site.object-oriented-php | sample:4 %}
    {% for post in oop_php %}
    
    {% if forloop.index == 1%}    
      <div class="col-9-l pad-bottom-30">
    {% else %}
      <div class="col-4-l  pad-bottom-30">
    {% endif %}    

      {% assign col = site.collections | where: "label", post.collection | first %}


      <h5>
        <a href="{{ site.url }}/{{ post.collection }}" class="link-mute">
        {{ col.title }}:
        </a>
      </h5>
      <a href="{{ site.url }}{{ post.url }}" class="link-mute">
        <h3>{{ post.clean_title }}</h3>
      </a>
      <div class="meta">

        {% assign episodes = site[col.label] %}
        {% for eps in episodes %}            
          {% if eps.title == post.title %}
            {% assign episode = forloop.index %}
            {% break %}
          {% endif %}
        {% endfor %}

        <a class="link-primary" href="{{ site.url }}/{{ post.collection }}">Episode {{ episode }}</a>
        <span class="vertical-devider"></span>
        {% include content_meta.html %}
      </div>
      <a href="{{ site.url }}{{ post.url }}" class="link-mute">
        <div class="snippet-content">
          {% if forloop.index == 1%}    
            {{ post.content | strip_html | truncatewords:45 }}
          {% else %}
            {{ post.content | strip_html | truncatewords:15 }}
          {% endif %}          
        </div>
      </a>       
    </div>

    {% endfor %}

  </div>

</div>

<footer class="horizontal-menu">
  {% include footer.html %}
</footer>