---
layout: default
---
{% include floating_icons.html %}

<div class="container container-l pad-top-60">
  
  <div class="clear">
    <div class="col-8-l push-2-l">
      <article class="episode" class="episode" itemscope itemtype="http://schema.org/BlogPosting">
        <h1 class="title" itemprop="headline">{{ page.title }}</h1>
        <div class="meta">
          <a class="link-mute" href="{{ site.url }}">khoerodin.id</a>
          <span class="vertical-devider"></span>
          
          {% if page.tags.size > 0 %}

            {% assign tags = page.tags %}
            {% for tag in tags %}            
              {% if forloop.last == true %}
                <a class="link-primary" href="{{ site.url }}/tag/{{ tag }}">#{{ tag }}</a>
              {% else %}
                <a class="link-primary" href="{{ site.url }}/tag/{{ tag }}">#{{ tag }}</a>,
              {% endif %}
            {% endfor %}            

            <span class="vertical-devider"></span>
          {% endif %}
          {% include content_meta.html %}

        </div>
        <div class="clear pad-top-20 single-content">
          {{ content }}
        </div>
      </article>

      <section class="comments">
        {% include disqus.html %}
      </section>

    </div>
  </div>

</div>

<footer class="horizontal-menu pad-top-60">
  {% include footer.html %}
</footer>