---
layout: default
---
<div class="series-wrapper">

	<article class="post">

		{% assign label = page.permalink | replace: "/", "" %}
		{% assign series = site.collections | where: "label", label | first %}
		{% assign episodes = site.[series.label] %}

		<header class="post-header">
			<h1 class="post-title text-primary text-bold">{{ page.title | escape }}</h1>
			<span class="series-meta">
				SKILL <span class="text-primary"><a href="{{ site.url }}/skill/{{ series.skill }}" title="Menuju halaman skill {{ series.skill | upcase | escape }}">{{ series.skill | upcase | escape }}</a></span> • 
				LEVEL <span class="text-primary">{{ series.level | upcase | escape }}</span> • 
				<span class="text-primary">{{ episodes | size }}</span> EPISODE
			</span>
		</header>

		<div class="post-content">
			<span class="series-content">{{ content }}</span>
		</div>

	</article>

</div>
{% include sidebar.html %}
{% include mobile_menu.html %}

<script type="text/javascript">
  var window_width = $(window).width();
  if(window_width < 800 ){
    $('.series-wrapper').removeClass('series-wrapper');
  }
</script>