---
layout: default
---
{% include logo_with_nav.html %}

<div class="container container-l series pad-top-30"> 

  <div class="clear pad-bottom-20">
    <div class="col-12-l">
      <div class="heading">

        {% assign label = page.permalink | replace: "/", "" %}
        {% assign series = site.collections | where: "label", label | first %}

        <h2 class="parent-title">{{ series.level | capitalize }}</h2>
        <h1>{{ page.title }}</h1>          
        {{ content }}
      </div>      
    </div>
  </div>
  
</div>

<div class="container container-l"> 
  <div class="clear pad-top-25 pad-bottom-25">

    {% assign label = page.permalink | replace: '/', '' %} 
    {% assign col = site.collections | where: "label", label | first %}
    {% assign series = site.[col.label] %}

    {% for post in series %}
    <div class="col-9-l">
      <a href="{{ site.url }}{{ post.url}}" class="link-mute">
        <div class="post-list">
          <div class="meta">
            <span class="text-primary">Episode {{ forloop.index }}</span>
            <span class="vertical-devider"></span>
            {% include content_meta.html %}
          </div>
          <h3 class="pad-top-7">{{ post.clean_title }}</h3>
          <div class="snippet-content">
            {{ post.content | strip_html | truncatewords:25 }}
          </div>
        </div>
      </a>
    </div>
    {% endfor %}
    
  </div>

</div>

<footer class="horizontal-menu">
  {% include footer.html %}
</footer>