---
layout: default
---
<article class="post">

	<header class="post-header">
	  <h1 class="post-title skill-title text-primary">{{ page.clean_title | escape }}</h1>
	</header>

	<div class="post-content">
	  	<span class="skill-content">{{ content }}</span>
	  	<hr class="skill-page">
		
	  	{% assign skill = page.permalink | split: "/" %}
	  	{% assign skill = skill | last %}
		{% assign series = site.collections | where: "skill", skill %}
		<section class="skills">
			{% for series in series %}
			<div class="skill-card ">
				{% assign url = "/" | append: series.label | append: "/" %}
				<a href="{{ site.url }}{{ url}}" class="skill-home-link">
			    <div class="skill-info">
					<div class="home-skill">{{ series.title }}</div>
					{% assign episodes = site.[series.label] %}
					<p>{{ series.level | upcase | escape }} • {{ episodes.size }} EPISODE</p>
				</div>
				</a>
		  	</div>
		  	{% endfor %}
		</section>
	</div>
	<script type="text/javascript">
		$('.page-content').css('min-height', '');
	</script>

</article>

