---
layout: default
---
{% include logo_with_nav.html %}

<div class="container container-l series pad-top-30"> 

{% assign skill = page.permalink | split: "/" %}
{% assign skill = skill | last %}
{% assign series = site.collections | where: "skill", skill %}

{% assign all_episode = 0 %}
{% for series in series %}
  {% assign episodes = site.[series.label] %}
  {% assign episodes_size = episodes | size %}
  {% capture all_episode %}{{ all_episode | plus: episodes_size }}{% endcapture %}
{% endfor %}

  <div class="clear pad-bottom-20">
    <div class="col-12-l">
      <div class="heading">
        <h2 class="parent-title">{{ series | size }} Seri, {{ all_episode }} Episode</h2>
        <h1>{{ page.clean_title }}</h1>          
        {{ content }}
      </div>      
    </div>
  </div>

</div>

<div class="container container-l">

  <div class="clear pad-top-25 pad-bottom-25">

    {% for series in series %}
    <div class="col-6-l">
      <div class="series-list">
        <div class="meta">
          <span class="text-primary">{{ series.level | capitalize | escape }}</span>
          <span class="vertical-devider"></span>

          {% assign episodes = site.[series.label] %}
          {{ episodes.size }} Episode
        </div>
        
        {% assign url = "/" | append: series.label | append: "/" %}

        <a href="{{ site.url }}{{ url}}" class="link-mute">
          <h3 class="pad-top-7">{{ series.title | escape }}</h3>
          <div class="snippet-content">
            {% assign page = site.pages | where: "permalink", url | first %}
            {{ page.content | strip_html | truncatewords:15 }}
          </div>
        </a>
      </div>
    </div>
    {% endfor %}

  </div>

</div>

<footer class="horizontal-menu">
  {% include footer.html %}
</footer>